* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 700px;
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    text-align: center;
    h2 {
        color: #FFA726;
        margin-top: 20px;
    }
}